<ng-container *ngFor="let user of users$ | async">
  <div class="p-2">
    <div class="text-3xl">{{ user.name }}</div>
    <ng-container *ngFor="let post of user.posts">
      <div class="p-2">
        <div class="text-2xl font-bold">
          {{ post.title }}
        </div>
        <div>
          <div class="text-xl">{{ post.body }}</div>
          <ng-container *ngFor="let comment of post.comments">
            <div class="py-1 text-sm">
              {{ comment.body }}
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
